.buttonjson {
    padding: 10px;
    float: right;
}

#people-table{
    padding : 0;
    width: 95%;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 1%;
}

.card{
    width: 800px;
    padding: 50px;
    border-radius: 1%;
}